.headertext {
    background-color: darkgray;
    color: white;
    display: flex;
    justify-content: center;
    padding: 5px 0;
}

.selectionVals {
    display: flex;
    justify-content: space-around;
}

span {
    background-color: gainsboro;
    padding: 10px 50px;
    font-size: 16px;
    border-radius: 10px
}

.mat-mdc-form-field {
    width: 25% !important;
}

.submitBtn {
    padding: 10px 25px;
    font-size: 18px;
    font-weight: 300;
    border: 1.5px solid rgb(53, 121, 187);
    border-radius: 10px;
    background-color: rgb(53, 121, 187);
    letter-spacing: 2px;
    color: white;
}

.submit {
    display: flex;
    justify-content: flex-end;
}

::ng-deep .mdc-checkbox .mdc-checkbox__native-control:enabled:checked~.mdc-checkbox__background {
    border-color: rgb(53, 121, 187) !important;
    background-color: rgb(53, 121, 187) !important;
}

::ng-deep .mdc-checkbox .mdc-checkbox__native-control:enabled:indeterminate~.mdc-checkbox__background {
    border-color: rgb(53, 121, 187) !important;
    background-color: rgb(53, 121, 187) !important;
}