<div>
    <h1 class="headertext">Task Assignment</h1>
    <div class="selectionVals">
        <span>101</span>
        <span>1901</span>
        <span>Loass of sales</span>
        <span>200 units</span>
        <span>Lead days</span>
        <span>Trigger task</span>
        <span>Cancel task</span>

    </div>
    <div class="mt-4">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <!-- Checkbox Column -->
            <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef>
                    <mat-checkbox (change)="$event ? toggleAllRows() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
                    </mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let row">
                    <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
                    </mat-checkbox>
                </td>
            </ng-container>

            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> ID </th>
                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>
            <ng-container matColumnDef="repOpt">
                <th mat-header-cell *matHeaderCellDef> Replenishment Option</th>
                <td mat-cell *matCellDef="let element"> {{element.repOpt}} </td>
            </ng-container>

            <ng-container matColumnDef="lead">
                <th mat-header-cell *matHeaderCellDef> Lead days</th>
                <td mat-cell *matCellDef="let element"> {{element.lead}} </td>
            </ng-container>

            <ng-container matColumnDef="trigger">
                <th mat-header-cell *matHeaderCellDef> Trigger Tasks</th>
                <td mat-cell *matCellDef="let element"> {{element.trigger}} </td>
            </ng-container>

            <ng-container matColumnDef="cancel">
                <th mat-header-cell *matHeaderCellDef> Cancel Task </th>
                <td mat-cell *matCellDef="let element"> {{element.cancel}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)">
            </tr>
        </table>
    </div>
    <div class="mt-4">
        <mat-form-field appearance="outline">
            <input type="email" matInput placeholder="Enter email here..">
        </mat-form-field>

        <button mat-raised-button class="ml-4">Assign</button>
        <button mat-raised-button class="ml-2">Un Assign</button>
    </div>
    <div class="submit mt-3">
        <button mat-raised-button class="submitBtn">Submit</button>
    </div>
</div>