<div>
    <h1 class="headertext">Stock Alert</h1>
    <div class="stocktable row mt-3">
        <div class="col-3 firstCol">
            <h2 style="color: gray;">Current Run</h2>
            <img src="assets/calendar.png" alt="" class="calImg" width="150px">
        </div>
        <div class="tableDiv col-9">
            <table>
                <tr>
                    <th>Norm</th>
                    <th>Count of SKU</th>
                    <th>Impact</th>
                </tr>
                <tr>
                    <td>Loss of sale</td>
                    <td class="iconBtn">274 <mat-icon (click)="navigateToActions()">arrow_downward</mat-icon></td>
                    <td>Text</td>
                </tr>
                <tr>
                    <td>Minimum quantity</td>
                    <td class="iconBtn">206<mat-icon style="color: red;"
                            (click)="navigateToActions()">arrow_upward</mat-icon></td>
                    <td>Text</td>
                </tr>
                <tr>
                    <td>Safety stock</td>
                    <td class="iconBtn">13<mat-icon style="color: rgb(235, 152, 137);"
                            (click)="navigateToActions()">arrow_upward</mat-icon></td>
                    <td>Text</td>
                </tr>
                <tr>
                    <td>Reorder point</td>
                    <td class="iconBtn">51<mat-icon style="color: rgb(231, 231, 87);"
                            (click)="navigateToActions()">arrow_upward</mat-icon></td>
                    <td>Text</td>
                </tr>
                <tr>
                    <td>Maximum stock</td>
                    <td class="iconBtn">4<mat-icon style="color: green;"
                            (click)="navigateToActions()">arrow_upward</mat-icon></td>
                    <td>Text</td>
                </tr>
                <tr>
                    <td>Over stock</td>
                    <td class="iconBtn">0 <mat-icon style="color: blue;"
                            (click)="navigateToActions()">arrow_upward</mat-icon></td>
                    <td>Text</td>
                </tr>
            </table>
        </div>
    </div>

</div>