table {
    border-collapse: collapse;
    border-radius: 1em;
    position: relative;
    width: 100%;
    overflow: auto;
}

.tableDiv {

    // display: flex;
    // justify-content: center;

}

th,
td {
    padding: 1em;
    background: rgb(244, 247, 250);
    border-bottom: 1.5px solid #ddd6d6;
    font-weight: 400;
    font-size: 16px;
}

th {
    color: rgb(91, 37, 216);
    font-size: 16px;
    font-weight: 500;
    position: sticky;
    top: 0;
}

.firstrow th {
    border-bottom: 2px solid rgb(53, 121, 187);


}

.stocktable {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.firstCol {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.headertext {
    background-color: darkgray;
    color: white;
    display: flex;
    justify-content: center;
    padding: 5px 0;
}

.iconBtn {
    display: flex;
    align-items: center;
}