.headertext {
    background-color: darkgray;
    color: white;
    display: flex;
    justify-content: center;
    padding: 5px 0;
}

.mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
}

.mat-mdc-table {
    background: rgb(244, 247, 250);
}

.mdc-data-table__header-cell {
    color: rgb(91, 37, 216);
    font-size: 16px;
}

.mdc-data-table__cell {
    font-size: 16px;
}

::ng-deep .mdc-checkbox .mdc-checkbox__native-control:enabled:checked~.mdc-checkbox__background {
    border-color: rgb(53, 121, 187) !important;
    background-color: rgb(53, 121, 187) !important;
}

::ng-deep .mdc-checkbox .mdc-checkbox__native-control:enabled:indeterminate~.mdc-checkbox__background {
    border-color: rgb(53, 121, 187) !important;
    background-color: rgb(53, 121, 187) !important;
}

.btns {
    display: flex;
    justify-content: flex-end;
}

.btn {
    padding: 10px 25px;
    font-size: 18px;
    font-weight: 300;
    border: 1.5px solid rgb(53, 121, 187);
    border-radius: 10px;
    background-color: rgb(53, 121, 187);
    letter-spacing: 2px;
    color: white;
}