<div>
    <h1 class="headertext">Stock Alert</h1>
    <div>
        <mat-form-field>
            <mat-label>Filter</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Enter here...." #input>
        </mat-form-field>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <!-- Checkbox Column -->
            <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef>
                    <mat-checkbox (change)="$event ? toggleAllRows() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
                    </mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let row">
                    <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
                    </mat-checkbox>
                </td>
            </ng-container>


            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> Alert ID </th>
                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>

            <ng-container matColumnDef="sku">
                <th mat-header-cell *matHeaderCellDef> SKU </th>
                <td mat-cell *matCellDef="let element"> {{element.sku}} </td>
            </ng-container>

            <ng-container matColumnDef="desc">
                <th mat-header-cell *matHeaderCellDef> Alert Description </th>
                <td mat-cell *matCellDef="let element"> {{element.desc}} </td>
            </ng-container>

            <ng-container matColumnDef="loc">
                <th mat-header-cell *matHeaderCellDef> Location </th>
                <td mat-cell *matCellDef="let element"> {{element.loc}} </td>
            </ng-container>
            <ng-container matColumnDef="opt">
                <th mat-header-cell *matHeaderCellDef> Possible Option </th>
                <td mat-cell *matCellDef="let element"> {{element.opt}} </td>
            </ng-container>
            <ng-container matColumnDef="assign">
                <th mat-header-cell *matHeaderCellDef> Assigned To </th>
                <td mat-cell *matCellDef="let element"> {{element.assign}} </td>
            </ng-container>
            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef> Status </th>
                <td mat-cell *matCellDef="let element"> {{element.status}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)">
            </tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
    </div>
    <div class="btns mt-5">
        <button mat-raised-button class="btn" (click)="next()">Next</button>
        <button mat-raised-button class="btn ml-3" (click)="back()">Back</button>

    </div>
</div>