.norms {

    display: flex;
    flex-direction: row;
    background-color: rgb(244, 247, 250);
    padding: 20px 20px;
    align-items: center;
    border-radius: 10px;

}

::ng-deep .mdc-label {

    margin-bottom: 0 !important;
}

.leveltypes {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.levelInputs {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.servicelevels {
    display: flex;
    flex-direction: column;
    background-color: rgb(244, 247, 250);
    padding: 20px 20px;
    // align-items: center;
    border-radius: 10px;
}

.minLTV {
    display: flex;
    flex-direction: row;
    background-color: rgb(244, 247, 250);
    padding: 20px 20px;
    align-items: center;
    border-radius: 10px;
}

.btns {
    display: flex;
    justify-content: flex-end;
}

.btn {
    // width: 100px;
    padding: 10px 25px;
    font-size: 18px;
    font-weight: 300;
    border: 1.5px solid rgb(53, 121, 187);
    border-radius: 10px;
    background-color: rgb(53, 121, 187);
    letter-spacing: 2px;
    color: white;
}

::ng-deep .mat-mdc-radio-button .mdc-radio .mdc-radio__native-control:enabled:checked+.mdc-radio__background .mdc-radio__outer-circle {
    border-color: rgb(53, 121, 187) !important;
}

::ng-deep .mat-mdc-radio-button .mdc-radio .mdc-radio__native-control:enabled+.mdc-radio__background .mdc-radio__inner-circle {
    border-color: rgb(53, 121, 187) !important;
}

::ng-deep .mdc-notched-outline {

    height: 75% !important;
}

::ng-deep .mat-mdc-select-trigger {

    margin-bottom: 15px !important;
}

::ng-deep .mat-mdc-form-field-infix {
    min-height: 66px;
}

.blue-snackbar {
    color: white;
    background-color: green;
}

.red-snackbar {
    color: white;
    background-color: red;
}

::ng-deep .mat-mdc-text-field-wrapper {

    width: 90% !important;

}