<div class="mainContainer mt-5">
    <div>
        <mat-label style="color:gray;font-size: 16px;">Depot:</mat-label>

        <mat-form-field appearance="outline" style="margin-left: 10px;">
            <mat-select (selectionChange)="onDepotSelection($event)" [(ngModel)]="depotval">
                <mat-option *ngFor="let item of depots" [value]="item">{{item['Depot_Name']}}</mat-option>
            </mat-select>
        </mat-form-field>
        <span style="margin-left: 20px;">{{depotCode}}</span>
    </div>
    <div>
        <div class="row mt-3">
            <div class="col-6">
                <h3 style="color:gray;font-size: 16px;" class="ml-4">Norms Selection</h3>
                <div class="norms">
                    <mat-radio-group aria-label="Select an option" [(ngModel)]="normVal">
                        <mat-radio-button value=0> Current Norms</mat-radio-button>
                        <mat-radio-button value=90>Proposed Norms (90 days)</mat-radio-button>
                        <mat-radio-button value=30>Proposed Norms (30 days)</mat-radio-button>
                    </mat-radio-group>
                </div>
            </div>
            <div class="col-6">
                <h3 style="color:gray;font-size: 16px;" class="ml-4">Replenishment Cycle Cap</h3>
                <div class="norms">
                    <mat-radio-group aria-label="Select an option" [(ngModel)]="repleval">
                        <mat-radio-button value="yes">YES</mat-radio-button>
                        <mat-radio-button value="no">NO</mat-radio-button>
                    </mat-radio-group>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-6">
                <h3 style="color:gray;font-size: 16px;" class="ml-4">Service Level(%)</h3>
                <div class="servicelevels">
                    <div class="leveltypes">
                        <span>A</span>
                        <span>B</span>
                        <span>C</span>
                    </div>
                    <div class="levelInputs mt-2">
                        <mat-form-field class="example-full-width" appearance="outline">
                            <input type="number" [(ngModel)]="SLA" matInput>
                        </mat-form-field>
                        <mat-form-field class="example-full-width" appearance="outline">
                            <input type="number" [(ngModel)]="SLB" matInput>
                        </mat-form-field>
                        <mat-form-field class="example-full-width" appearance="outline">
                            <input type="number" [(ngModel)]="SLC" matInput>
                        </mat-form-field>

                    </div>
                </div>

            </div>
            <div class="col-6">
                <h3 style="color:gray;font-size: 16px;" class="ml-4">LT Variation(%)</h3>
                <div class="servicelevels">
                    <div class="leveltypes">
                        <span>MDU FACTORY</span>
                        <span>UKD FACTORY</span>
                        <span>HYD FACTORY</span>
                    </div>
                    <div class="levelInputs mt-2">
                        <mat-form-field class="example-full-width" appearance="outline">
                            <input type="number" [(ngModel)]="LTVMDU" matInput>
                        </mat-form-field>
                        <mat-form-field class="example-full-width" appearance="outline">
                            <input type="number" [(ngModel)]="LTVUKD" matInput>
                        </mat-form-field>
                        <mat-form-field class="example-full-width" appearance="outline">
                            <input type="number" [(ngModel)]="LTVHYD" matInput>

                        </mat-form-field>



                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-6">
                <h3 style="color:gray;font-size: 16px;" class="ml-4">Max Capped(Doc)</h3>
                <div class="servicelevels">
                    <div class="leveltypes">
                        <span>A</span>
                        <span>B</span>
                        <span>C</span>
                    </div>
                    <div class="levelInputs mt-2">
                        <mat-form-field class="example-full-width" appearance="outline">
                            <input type="number" [(ngModel)]="MaxCappedA" matInput>
                        </mat-form-field>
                        <mat-form-field class="example-full-width" appearance="outline">
                            <input type="number" [(ngModel)]="MaxCappedB" matInput>
                        </mat-form-field>
                        <mat-form-field class="example-full-width" appearance="outline">
                            <input type="number" [(ngModel)]="MaxCappedC" matInput>
                        </mat-form-field>
                    </div>
                </div>

            </div>
            <div class="col-6">
                <div class="row">
                    <div class="col-6">
                        <div>
                            <h3 style="color:gray;font-size: 16px;" class="ml-4">Min LT Variation(Days)</h3>
                            <div class="minLTV">
                                <mat-form-field class="example-full-width mt-4" appearance="outline">
                                    <input type="number" [(ngModel)]="MinLT" matInput>
                                </mat-form-field>

                                <span class="ml-2">Days</span>
                            </div>
                        </div>

                    </div>
                    <div class="col-6">
                        <div>
                            <h3 style="color:gray;font-size: 16px;" class="ml-4">St. Dev Cap</h3>
                            <div class="minLTV">
                                <mat-form-field class="example-full-width mt-4" appearance="outline">
                                    <input type="number" [(ngModel)]="devCap" matInput>
                                </mat-form-field>

                                <span class="ml-2">Days</span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div align="center" class="btns mt-5">
            <button mat-raised-button (click)="onRun()" class="btn ml-3">Run</button>
            <button mat-raised-button class="btn ml-4" (click)="onSave()" [disabled]="isSavedisabled">Save&</button>
            <button mat-raised-button class="btn ml-4">Result Sheet</button>
        </div>

    </div>
</div>
<div class="progress-loader" [hidden]="!isLoader">
    <mat-progress-spinner mode="indeterminate" diameter="60"></mat-progress-spinner>
</div>