<div class="reportView">
    <iframe class="reportFrameView" [src]="generateSafeImageUrl()"></iframe>
</div>
<!-- <div>
    <iframe title="DDMPR Poc" width="1140" height="541.25"
        src="https://app.powerbi.com/reportEmbed?reportId=87521b20-d277-4bc1-98e8-9d10f6486e16&autoAuth=true&ctid=432a4219-1a46-4b7f-92ce-aae7bc705c26"
        frameborder="0" allowFullScreen="true"></iframe>
</div> -->