.loginContainer {
    display: flex;
    width: 100%;
    height: 98vh;
}

.loginLeft {
    flex: 4;
    // display: flex;
    // align-items: center;
    // justify-content: center;
    // flex-direction: column;
}

.loginRight {
    flex: 8;
}

.loginCoverImg {
    width: 100%;
    height: 99vh !important;

}

.input-field {
    width: 300px;
    height: 50px;

}

mat-label {
    font-size: 14px;
    color: gray;
    font-weight: 500;
}

h1 {
    font-weight: 700;
    // margin-top: 10px;
}

.loginTitle {
    margin-left: 27%;
    margin-top: 30%;
}

.loginform {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn {
    display: flex;
    justify-content: center;
}

.loginBtn {
    margin-top: 30px;
}