<div class="loginContainer">
    <div class="loginLeft">
        <div class="loginTitle">
            <h1>Login</h1>

        </div>
        <div class="loginform">
            <form class="login-form" [formGroup]="loginForm">
                <div>
                    <mat-label>Enter UserName</mat-label>
                    <br>
                    <mat-form-field appearance="outline" class="input-field">
                        <input matInput type="text" formControlName="user">
                    </mat-form-field>
                </div>
                <div class="mt-3" style="margin-top: 20px;">
                    <mat-label> Enter Password</mat-label>
                    <br>
                    <mat-form-field appearance="outline" class="input-field">
                        <input matInput [type]="hide ? 'password' : 'text'" formControlName="pw">
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                            [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                    </mat-form-field>
                </div>
                <div class="btn">
                    <button class="loginBtn" mat-raised-button color="primary" (click)="loginHandler()">Login</button>
                </div>

            </form>

        </div>

    </div>
    <div class="loginRight">
        <img src="assets/cover1.png" alt="" class="loginCoverImg">
    </div>
</div>